<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200;300;400;800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="css/app.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="main-header">
            <a href = "/home"><img src ="image/imgPro/LogoParqueExp.png" class="logoParque" alt="Logo Parque Explora"></a>
        </div>
        <div class="main-navbar">
            <ul class="list">
                <li><a href ="#">Inicio</a></li>
                <li><a href ="#">Experimenta</a></li>
                <li><a href ="#">Conéctate</a></li>
                <li><a href ="#">Prográmate</a></li>
                <li><a href ="#">Conócenos</a></li>
                <li><a href ="#">Suscríbete</a></li>
            </ul>
        </div>
        <div class="header-search">
            <a href="#"><i class="fas fa-search icon"></i></a>
        </div>
        <div class="menu-burger">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <!--Los datos colocados son provenientes del doc base "Texto Landing"-->
        <section>
            <article class="intro">
                    <h4>Navegación por el universo para colegios</h4>
                    <p>En este viaje en vivo conoceremos los logros y descubrimientos que hicieron mujeres y hombres 
                        inquietos por observar los misterios del cosmos. Acompañados por la curiosidad y el asombro, 
                        seremos testigos de la diversidad de objetos que hay en nuestro universo y, a través de historias, 
                        viajaremos por lugares ya conocidos y por conocer.</p>
                <div class="wa">
                    <img src ="image/imgPro/movil/INTRO-WHATSAPP.png" alt="Logo wa">
                    <p class ="escribe">Escríbenos por Whatsapp</p>
                </div>
            </article>
        </section>
        <section>
            <article class="obj">
                <h3>¿Cuáles son los <u>objetivos de estos encuentros?</u></h3>
                <ul>
                    <li><img src = "image/imgPro/movil/OBJETIVO-NUM-1.png" ><p>Motivar la observación del cielo e incentivar la curiosidad sobre algunos 
                        temas relacionados con la Astronomía como planetas, estrellas y galaxias.</p></li>
                    <li><img src = "image/imgPro/movil/OBJETIVO-NUM-2.png"><p>Fortalecer la divulgación de la Astronomía a través de entornos digitales
                         que permitan mantener la conexión con estudiantes y maestros.</p></li>
                    <li><img src= "image/imgPro/movil/OBJETIVO-NUM-3.png"><p>Mostrar la Tierra como un planeta muy especial que nos conecta con su 
                        familia planetaria y el universo en general</p></li>
                </ul>
            </article>
        </section>
        <section>
            <article class = "caracteristicas">
                <div class = "imagenesCaracteristicas"> 
                    <img src ="image/imgPro/movil/CARACTERISTICAS-1.png">
                    <img src ="image/imgPro/movil/CARACTERISTICAS-2.png" class = "imgCa1">
                </div>
                <h3><u>Características</u></h3>
                <ul>
                    <li>Para estudiantes de 1 a 11</li>
                    <li>Incluye viaje por el universo + actividad experimental</li>
                    <li>Grupos de 20 personas acompañados por un mediador</li>
                    <li>1 sesión de 90 minutos </li>
                    <li>Conexión privada por Zoom </li>
                </ul>
            </article>
        </section>
        <section>
            <article class ="informacion">
                <h3>¿Quieres más información?</h3>
                <h2> Déjanos tus datos y te contactaremos</h2>
                <form>
                    <div>
                        <div class ="datos">
                            <span class="details">Nombre</span>
                            <input type="text" name="name">
                        </div>
                        <div class ="datos">
                            <span class="details">Teléfono celular</span>
                            <input type="text" name="telefono">
                        </div>
                        <div class ="datos">
                            <span class="details">Cédula</span>
                            <input type="text" name="cedula">
                        </div>
                        <div class ="datos">
                            <span class="details">Correo electrónico</span>
                            <input type="text" name="correo">
                        </div>
                        <div class ="datos">
                            <span class="details">Nombre de institución educativa</span>
                            <input type="text" name="institucion">
                        </div>
                        <div class ="datos">
                            <span class="details">Estás interesado en una navegación por el universo para:</span>
                            <select name="category" id="category" class ="category">
                                <option value="Preescolar">Preescolar</option>
                                <option value="Primaria">Primaria</option>
                                <option value="Secundaria">Secundaria</option>  
                            </select>
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
                <img src ="image/imgPro/movil/FORMULARIO-WHATSAPP.png" class="imgWa">
                <p class="mensajeWa">Esríbenos por Whatsapp</p>
                <P class="terminos">Al diligenciar este formulario aceptas seguir recibiendo información
                    del Parque Explora y nos autorizas para que incluyamos tus datos
                    personales en nuestras bases de datos, en calidad de responsable y
                    encargado de los mismos, con la finalidad de enviarte información
                    sobre eventos y actividades. También te das por enterado de los
                    derechos que tienes de consultarlos, actualizarlos, rectificarlos y
                    suprimirlos en cualquier momento, y conoces la política de manejo de
                    datos de la Corporación, que se encuentran en la página web
                    www.parqueexplora.org/condiciones-legales. En ella se encuentran
                    descritos los canales de atención para el ejercicio de tus derechos y la
                    presentación de quejas y reclamos. Así mismo comprendes que esta
                    autorización es requerida de acuerdo a lo dispuesto por la ley 1581 de
                    2012 y sus decretos reglamentarios. Esta autorización la otorgas
                    gratuitamente sin ninguna limitación de carácter temporal o territorial.</P>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="find">
                <h3>Encuéntranos en:</h3>
                <img src ="image/imgPro/LogoParqueExp.png" class = "logoParqueFooter" alt="logoParque">
                <img src ="image/imgPro/logoPlanetario.jpg" class = "logoPlanetario" alt="logoPlanetario">
            </div>
            <div class="contact"> 
                <h3>Contáctanos</h3>
                <p>Corporación Parque Explora</p>
                <p>+57(4) 516 83 00</p>
                <p>comunicaciones@parqueexplora.org</p>
            </div>
            <div class="location">
                <h3>Ubicación</h3>
                <p>Carrera 52 # 73 - 75</p>
                <p>Medellín - Colombia</p>
                <p>+57(4) 516 83 00</p>
            </div>
        </div>
        <p class="copyright">@ 2020 PARQUE EXPLORA | TODOS LOS DERECHOS RESERVADOS</p>
        <div class="socialMedia">
            <ul class="listSocial">
                <li><a href="https://www.instagram.com/parqueexplora/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/ParqueExplora"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/c/parqueexplora"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class ="others">
            <ul><a href="/home"><i class="fas fa-arrow-up"></i></a></ul>
            <ul><a href="#"><i class="fas fa-envelope"></i></a></ul>
        </div>
    </footer>
</body>
</html>